body{
    min-height: 100vh;
    background: rgb(210, 196, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
     width: 550px;
    height: 300px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3) ;
    border-radius: 12px;
    background:white;
    overflow: hidden;
}
.content{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headline{
    font-size: 25px;
    font-weight: 300px;
}
.out{
    font-weight: 400; 
}
.button{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}
button{
    flex: 0 0 20%;
    margin: 5px 0;
    border: 2px solid rgb(230, 226, 226);
    width: 80px;
    height: 40px;
    font-size:10px;
    font-weight: 600;
    border-radius:5px ;
    cursor: pointer;
}
.btn-grey{
    background: rgb(231, 231, 241);
    
}
.donate{
    background: rgb(241, 46, 160);
}
.ribbon{
    width: 70px;
    height: 70px;
    padding: 10px;
}
